<div class="container mt-5">
  <h2 class="text-center mb-4">Employee List</h2>

  <table class="table table-bordered table-striped">
    <thead class="table-dark">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Position</th>
        <th>Salary</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>1</td>
        <td>Mohamed</td>
        <td>Developer</td>
        <td>8000</td>
        <td>
          <button class="btn btn-primary btn-sm">Edit</button>
          <button class="btn btn-danger btn-sm ms-2">Delete</button>
        </td>
      </tr>

      <tr>
        <td>2</td>
        <td>Ahmed</td>
        <td>Designer</td>
        <td>7000</td>
        <td>
          <button class="btn btn-primary btn-sm">Edit</button>
          <button class="btn btn-danger btn-sm ms-2">Delete</button>
        </td>
      </tr>

       <tr>
        <td>2</td>
        <td>Ahmed</td>
        <td>Designer</td>
        <td>7000</td>
        <td>
          <button class="btn btn-primary btn-sm">Edit</button>
          <button class="btn btn-danger btn-sm ms-2">Delete</button>
        </td>
      </tr> <tr>
        <td>2</td>
        <td>Ahmed</td>
        <td>Designer</td>
        <td>7000</td>
        <td>
          <button class="btn btn-primary btn-sm">Edit</button>
          <button class="btn btn-danger btn-sm ms-2">Delete</button>
        </td>
      </tr> <tr>
        <td>2</td>
        <td>Ahmed</td>
        <td>Designer</td>
        <td>7000</td>
        <td>
          <button class="btn btn-primary btn-sm">Edit</button>
          <button class="btn btn-danger btn-sm ms-2">Delete</button>
        </td>
      </tr> <tr>
        <td>2</td>
        <td>Ahmed</td>
        <td>Designer</td>
        <td>7000</td>
        <td>
          <button class="btn btn-primary btn-sm">Edit</button>
          <button class="btn btn-danger btn-sm ms-2">Delete</button>
        </td>
      </tr> <tr>
        <td>2</td>
        <td>Ahmed</td>
        <td>Designer</td>
        <td>7000</td>
        <td>
          <button class="btn btn-primary btn-sm">Edit</button>
          <button class="btn btn-danger btn-sm ms-2">Delete</button>
        </td>
      </tr> <tr>
        <td>2</td>
        <td>Ahmed</td>
        <td>Designer</td>
        <td>7000</td>
        <td>
          <button class="btn btn-primary btn-sm">Edit</button>
          <button class="btn btn-danger btn-sm ms-2">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="fotter">
  <h2> Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, aliquam. Vitae quaerat et quos sed delectus fuga facilis assumenda molestias?</h2>
</div>
